.DropDownList {
    position: relative;
    max-height: 136px;
    overflow: auto;
    margin: 8px 8px 16px 8px;
}

.DropDownListDivider {
    position: sticky;
    top: 0px;
    width: calc(100% - 32px);
    margin: auto;
    height: 1px;
    background-color: #D3DFD0;
    transform: translate(0,-6px);
}

.DropDownListItem {
    min-height: 34px;
    line-height: 34px;
    color: #505050;
    cursor: pointer;
    padding: 0 8px;
}
.DropDownListItem:hover {
    background-color: #F0FAEE;
}

.DropDownListItem.selected {
    background-color: #F0FAEE;
}