.PopUpWrapper {
    position: absolute;
    top: 0;
    left: 100%;
    width: 220px;
    padding: 0 8px 32px 8px;
    border-radius: 11px;
    transform: translate(-32px, 0);
    overflow: hidden;
}

.PopUpWrapper:before {
    position: absolute;
    top: 28px;
    left: 0px;
    content: '';
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent; 
    border-right: 8px solid #2FAB34; 
}
.PopUp {
    background: #FFFFFF;
    border: 2px solid #2FAB34;
    border-radius: 11px;
    overflow: hidden;
}
/* For scrolling bar positioning purpose */
.PopUpContent {
    overflow: auto;
    padding: 7px 2px 0px 2px;
    margin: 8px 8px 8px 8px;
}

.PopUpItem {
    min-height: 34px;
    line-height: 34px;
    color: #505050;
    cursor: pointer;
    padding: 0 8px;
}

.PopUpItem:hover {
    background-color: #F0FAEE;
}