::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background-color: #EAEAEA;
    border-radius: 2px;
}

body {
    margin: 0;
    font-family: Roboto, arial, sans-serif;
    overflow: hidden;
    min-width: 100%;
    min-height: 100vh;
}