.SearchInput {
    border: 2px solid #2FAB34;
    border-radius: 11px;
    background: none;
    outline: none;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    position: relative;
}

.SearchInput input {
    background:none;
    outline: none;
    padding: 16px;
    border: none;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
}

.SearchInput input:focus {
    outline:0;
}

.SearchInput input::placeholder {
    color: #ADADAD;
}